// Typography
$font-rubik: "Rubik", sans-serif;

$font-body-small: 12px;
$font-body-medium: 14px;
$font-body-large: 16px;

$font-label-small: 11px;
$font-label-medium: 12px;
$font-label-large: 14px;

$font-title-small: 14px;
$font-title-medium: 16px;
$font-title-large: 22px;

$font-headline-small: 24px;
$font-headline-medium: 28px;
$font-headline-large: 32px;

$font-dislay-small: 36px;
$font-display-medium: 45px;
$font-dislay-large: 57px;

// Colors
$color-primary: #C00100;
$color-secondary: #006E21;
$color-tertiary: #705C2E;
$color-error: #BA1A1A;

$color-primary-container: #FFDAD4;
$color-on-primary-container: #410000;

$color-secondary-container: #7DFD86;
$color-on-secondary-container: #002105;

$color-tertiary-container: #FBDFA6;
$color-on-tertiary-container: #251A00;

$color-error-container: #FFDAD6;
$color-on-error-container: #410002;

$color-primary-fixed: #FFDAD4;
$color-primary-fixed-dim: #FFB4A8;
$color-on-primary-fixed: #930100; 

$color-secondary-fixed: #7DFD86;
$color-secondary-fixed-dim: #60E06D;
$color-on-secondary-fixed: #005317;

$color-tertiary-fixed: #FBDFA6;
$color-tertiary-fixed-dim: #DEC48C;
$color-on-tertiary-fixed: #564419;

$color-surface-dim: #E4D7D5;
$color-surface: #FFF8F6;
$color-surface-bright: #FFF8F6;

$color-surface-container-lowest: #FFFFFF;
$color-surface-container-low: #FEF1EE;
$color-surface-container: #F8EBE9;
$color-surface-container-high: #F3E5E3;
$color-surface-container-highest: #EDE0DD;

$color-on-surface: #201A19;
$color-on-surface-variant: #534341;
$color-outline: #857370;
$color-outline-variant: #D8C2BE;

$color-inverse-surface: #362F2E;
$color-inverse-on-surface: #FBEEEC;
$color-inverse-primary: #FFB4A8;
$color-scrim: #000000;

$color-light-background: #FFFBFF;
